# neovim
alias vi='nvim'
alias vim='nvim'
alias v='fd --type f --hidden --exclude .git | fzf-tmux -p --reverse | xargs nvim'

# Changing "ls" to "exa"
alias ls='exa --color=always --group-directories-first'
alias la='ls -a'
alias ll='ls -l'
alias lt='exa -abghHliS --long --tree'

# "bat" instead of "cat"
alias cat='bat'

# Colorize grep output (good for log files)
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

alias g='git'

alias gud='g co develop && g pull && g co -'
alias gum='g co master && g pull && g co -'

alias gb='git b | fzf --height=~20 | xargs git co'
alias gbd='git b | fzf --height=~20 | xargs git b -D'

#alias did="vim +'normal Go' +'r! date' ~/logbook/$(date +'%Y%m%d').txt"

# https://github.com/emilyst/home
alias home="git --work-tree=$HOME --git-dir=$HOME/.home.git"

alias vi='vim'
alias mc='mc -x' # fixes mouse in mc running in tmux

alias cd='cdls() { cd $1 && ll };cdls'

if [ "$(uname)" = "Darwin" ]; then
elif [ "$(expr substr $(uname -s) 1 5)" = "Linux" ]; then
  alias pbcopy='xclip -selection clipboard'
  alias pbpaste='xclip -selection clipboard -o'
fi

[[ -f ~/.aliases.local ]] && . ~/.aliases.local

