# Changing "ls" to "exa"
alias ls='exa --color=always --group-directories-first'
alias la='exa -a --color=always --group-directories-first'
alias ll='exa -l --color=always --group-directories-first'
alias lt='exa -aT --color=always --group-directories-first'
alias l.='exa -a | egrep "^\."'

# Colorize grep output (good for log files)
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

alias g='git'

alias gud='g co develop && g pull && g co -'
alias gum='g co master && g pull && g co -'

#alias did="vim +'normal Go' +'r! date' ~/logbook/$(date +'%Y%m%d').txt"

# https://github.com/emilyst/home
alias home="git --work-tree=$HOME --git-dir=$HOME/.home.git"

alias vi='vim'
alias mc='mc -x' # fixes mouse in mc running in tmux

alias cd='cdls() { cd $1 && ll };cdls' 

if [ "$(uname)" = "Darwin" ]; then
elif [ "$(expr substr $(uname -s) 1 5)" = "Linux" ]; then
  alias pbcopy='xclip -selection clipboard'
  alias pbpaste='xclip -selection clipboard -o'
fi

eval $(thefuck --alias)

[[ -f ~/.aliases.local ]] && . ~/.aliases.local

